#!/bin/sh

tugboat droplets > tmp_droplets
droplets_names_tmp=`cat tmp_droplets|awk '{print \$1}'`
droplets_ips_tmp=`cat tmp_droplets|awk '{print $3}'|sed -e 's/,//g'`

echo  $droplets_names_tmp > tmp_droplets_ips
echo  $droplets_ips_tmp >> tmp_droplets_ips

/Users/jima/digitalocean-useful-tool/ssh_config_plus
rm -f tmp_droplets_ips tmp_droplets